<% layout('/layouts/boilerplate') -%>

<h1 class="col-6 offset-3">Login</h1>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" type="text" class="form-control" required/>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" type="password" class="form-control" required/>
                </div>
                <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>

<!-- <body class="m-0">

    <div class="container-fluid
                vh-100 vh-md-auto
                d-flex d-md-block
                align-items-center justify-content-center">

        <div class="row w-100 m-0">
            <div class="col-12 col-md-6 offset-md-3">

                <h1 class="text-center mb-3">Login</h1>

                <form action="/login" method="post" class="needs-validation" novalidate>

                    <div class="mb-2">
                        <label for="username" class="form-label">Username</label>
                        <input
                            name="username"
                            id="username"
                            type="text"
                            class="form-control"
                            required
                        />
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input
                            name="password"
                            id="password"
                            type="password"
                            class="form-control"
                            required
                        />
                    </div>

                    <button class="btn btn-success w-100">
                        Login
                    </button>

                </form>

            </div>
        </div>

    </div>

</body> -->
